*{background-color:rgb(160, 187, 212);
}

header{
  display: flex;
  justify-content: space-between;
}

header h3 {
    display:block;
    background-color: #002ad4;
    width: 260px;
    height:220px;
    text-align:right;
    color: rgb(22, 155, 95);
    font-size:100px;
}
header nav ul{
    display:flex;
    list-style: image();
    text-align: right;
    justify-content: flex-end;
    font-size:50px;
    
}

h2 {
    font-size:50px;
    width: 10%;
    /* text-align:right; */
    
}
.about-me-text{
  width:80%;
  border-left:solid;
  padding-left:10px;
}

.content-row {
  display:flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

.side-title{
  width: 18%;
  border-right: 5px solid rgb(138, 44, 44);
}
.section-content{
  width:75%
}
li{
    margin:30px;
}

nav {
    display: flex-end;
}

main {
  margin:30px; 
}


/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: rgb(0, 0, 0);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(231, 26, 26);
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

  /* Cards are split into two columns at 992px or smaller */
@media screen and (max-width: 992px) {
  .card {
    width:5%;
  }
  /* Change the header color */
  header {
    background: #772014;
  }
}

/* Cards are stacked on top of each other at 768px or smaller */
@media screen and (max-width: 768px) {
  .card {
    width: 10%;
  }
  /* Change the header color */
  header {
    background: #8ac4ff;
  }
}